.order
  box-sizing: border-box
  margin-top: 4rem

  main
    max-width: 10000px
    margin: 0
  article
    margin: 0

  .choice-container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 1rem
    font-family: $roboto
    font-size: 80%

  .modal-container
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    top: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,0.8)
    z-index: 1
    height: 100vh
    .image-gallery
      width: 100vw
  .close-container
    z-index: 2
    position: absolute
    font-size: 20px
    font-weight: bold
    top: 130px
    right: 10px
    color: white
