//Put global variables up here
$white: #ffffff
$black: #000000
$font: Arial


//Import all your component/template stylesheets here
@import './components/header.sass'
@import './components/utility_nav.sass'
@import './components/footer.sass'

//Put global styles here
*
  margin: 0
  padding: 0

html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 60px


p

h1

h2

h3

h4

a

a:hover, a:focus

a:visited
