.order {
  box-sizing: border-box;
  margin-top: 4rem; }
  .order main {
    max-width: 10000px;
    margin: 0; }
  .order article {
    margin: 0; }
  .order .choice-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 80%; }
  .order .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    height: 100vh; }
    .order .modal-container .image-gallery {
      width: 100vw; }

.order-summary {
  margin-top: 4rem; }

.webcam-capture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

html {
  position: relative;
  min-height: 100%; }

body {
  color: #333;
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 400; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

h1 {
  color: #333;
  font-size: 20px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 30px;
      margin-top: 10px; } }

h2 {
  color: #333;
  font-size: 16px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px; } }

h3 {
  color: #333;
  font-size: 14px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 28px; } }

h4 {
  color: #333;
  font-size: 12px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 24px; } }

button {
  margin-top: auto;
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem; }

a {
  color: #4eab7c; }
  a:link, a:visited {
    color: #4eab7c; }
  a:hover {
    color: red;
    text-decoration: none; }
  a:active {
    color: #4eab7c; }
  a:focus {
    outline: 0; }

.no-wrap {
  white-space: nowrap; }

.display-none {
  display: none; }

.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
