.utility-nav {
  display: block;
  background-color: aqua;
  font-size: 14px; }
  .utility-nav .utility-nav-innner {
    border: 1px solid grey; }

.header {
  display: block;
  background-color: LemonChiffon; }
  .header .header-innner {
    border: 1px solid grey; }
    .header .header-innner .header-left .logo {
      width: 100%;
      min-width: 80px;
      max-width: 200px; }
    .header .header-innner .header-right .page-btns-flex {
      height: 100%; }
      .header .header-innner .header-right .page-btns-flex div {
        font-size: 0.8em;
        padding-left: 1em !important; }
        @media (min-width: 768px) {
          .header .header-innner .header-right .page-btns-flex div {
            font-size: 1em;
            padding-left: 1.4em !important; } }

.footer {
  display: block;
  background-color: DarkSalmon;
  font-size: 14px; }
  .footer .footer-innner {
    border: 1px solid red; }

body {
  color: #333;
  font-family: "Lato", sans-serif, sans-serif;
  font-size: 18px;
  font-weight: 400; }

h1 {
  color: #333;
  font-size: 20px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  color: #333;
  font-size: 16px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px; } }

h3 {
  color: #333;
  font-size: 14px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 28px; } }

h4 {
  color: #333;
  font-size: 12px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 24px; } }

a {
  color: #333; }
  a:link, a:visited {
    color: #333; }
  a:hover {
    color: red;
    text-decoration: none; }
  a:active {
    color: #333; }
  a:focus {
    outline: 0; }

.no-wrap {
  white-space: nowrap; }
